node_modules
# Keep environment variables out of version control
.env
.env.test

/generated/prisma
.DS_Store

# 기타 파일
erd/
archive/
http/
infra/
scripts/
test/
DockerImage.txt

# Git
.git
.gitignore
.github

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency
.npm
.yarn-cache

# Build outputs
/dist
/build

# Test coverage
coverage/