{
  "printWidth": 80,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "all",
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "semi": true,
  "endOfLine": "lf",
  "overrides": [
    {
      "files": ["*.json"],
      "options": {
        "printWidth": 1000
      }
    }
  ]
}
