# ------------------------------
# Server
# ------------------------------
NODE_ENV=
PORT=
CORS_ORIGIN=
CORS_CREDENTIALS=
# ------------------------------
# Database
# ------------------------------
DATABASE_URL=

# ------------------------------
# Rate Remit
# ------------------------------
RATE_LIMIT_WINDOW_MS=
RATE_LIMIT_MAX=

# ------------------------------
# Compression
# ------------------------------
COMPRESSION_THRESHOLD=
COMPRESSION_LEVEL=

# ------------------------------
# JWT
# ------------------------------
ACCESS_TOKEN_SECRET_KEY=
REFRESH_TOKEN_SECRET_KEY=
ACCESS_TOKEN_EXPIRES_IN=
REFRESH_TOKEN_EXPIRES_IN=

# ------------------------------
# Security
# ------------------------------
BCRYPT_SALT_ROUNDS=

# ------------------------------
# Application
# ------------------------------
APP_NAME=
LOG_LEVEL=